@model CourseAssignment.ViewModels.RoutineHistoryViewModel
@{
    ViewBag.Title = "Routine";
    int c = Model.Days.Count();
    c += 3;
    var x = 0;
    var y = 0;
}
<div class="printPage">

    <div class="text-center" style="border:1px solid black; margin-top:2%;">
        <h3>
            Class will be effective From @Model.AcaPlan.ClassCommence
            <br />@Model.routineHistory.BatchName Batch,
            @Model.routineHistory.SemesterNo Semester(Evening Batch)
        </h3>
    </div>
    <div style="margin-top:2%">
        <table class="table table-bordered" style="text-align:center">
            <tr>
                <th width="94" scope="col"><h6 style="font-size: 16px;font-weight: bold;text-align: center;">Campus</h6></th>
                <th width="192" scope="col"><h6 style="font-size: 16px;font-weight: bold;text-align: center;">Room</h6></th>
                <th width="192" scope="col"><h6 style="font-size: 16px;font-weight: bold;text-align: center;">Days</h6></th>
                <th colspan="5" scope="col"><h6 style="font-size: 16px;font-weight: bold;text-align: center;">Time</h6></th>
            </tr>
            <tr>
                <td rowspan="@c" style="vertical-align:middle">
                    <h3>@Model.routineHistory.Campus</h3>
                   
                </td>
                <td rowspan="@c" style="vertical-align:middle"> <h5>@Model.routineHistory.Room</h5></td>
                <td></td>
                @foreach (var item in Model.ClassTimes)
                {
                    <td>@item</td>
                }

            </tr>
            @*@foreach (var item in Model.WeekDays)
                {

                    <tr>
                        <td height="70">@item</td>
                        <td>@Html.DropDownList("list" + x + "s", new SelectList(Model.Subjects, "Id", "SubjectName"), "--Select--", new { @class = "dropdown" })</td>
                        <td>@Html.DropDownList("list" + x + 1 + "s", new SelectList(Model.Subjects, "Id", "SubjectName"), "--Select--", new { @class = "dropdown" })</td>
                        <td>@Html.DropDownList("list" + x + 2 + "s", new SelectList(Model.Subjects, "Id", "SubjectName"), "--Select--", new { @class = "dropdown" })</td>
                        <td colspan="2">@Html.DropDownList("list" + x + 3 + "s", new SelectList(Model.Subjects, "Id", "SubjectName"), "--Select--", new { @class = "dropdown" })</td>
                    </tr>
                    x = x + 1;
                }*@
            @foreach (var item in Model.Days)
            {
                <tr>
                    <td height="70">@item</td>
                    @for (var os = 1; os <= Model.ClassTimes.Count(); os++)
                {
                        <td><label>@Model.AllSubjects[x]</label></td>
                        x = x + 1;
                    }

                    @*<td><label>@Model.AllSubjects[x+1]</label></td>
                        <td><label>@Model.AllSubjects[x+2]</label></td>
                        <td colspan="2"><label>@Model.AllSubjects[x+3]</label></td>*@
                </tr>

            }
            <tr>
                    <td rowspan="2">Friday</td>
                    @foreach (var item in Model.FridayClassTimes) {
                        <td>@item</td>
                    }
                </tr>
                <tr>
                    @for (var z = 1; z <= Model.FridayClassTimes.Count(); z++)
                    {
                        <td><label>@Model.AllSubjects[x]</label></td>
                        x = x + 1;
                    }
                    @*<td colspan="2"><label>@Model.AllSubjects[y]</label></td>
                    <td><label>@Model.AllSubjects[y+1]</label></td>
                    <td><label>@Model.AllSubjects[y+2]</label></td>
                    <td><label>@Model.AllSubjects[y+3]</label></td>*@
                </tr>


        </table>

    </div>
    <div style="margin-top:2%">
        <table class="table table-bordered">
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Teachers Name</th>
            </tr>
            @foreach (var item in Model.Subjects)
            {
                <tr>
                    <td>
                        @item.SubjectCode
                    </td>
                    <td>@item.SubjectName</td>
                    <td>@Model.routineHistory.Teachers</td>
                </tr>
            }
        </table>
    </div>
    <div style="margin-top:3%">
        <table class="table table-bordered" align="center" style="width:60%">
            <tr>
                <th colspan="3">
                    <h4 style="text-align:center">Academic Plan</h4>
                </th>
            </tr>
            <tr>
                <td>Class Commence</td>
                <td>:</td>
                <td>@Model.AcaPlan.ClassCommence</td>
            </tr>

            <tr>
                <td>Midterm Examination</td>
                <td>:</td>
                <td>@Model.AcaPlan.Midterm</td>
            </tr>
            <tr>
                <td>Final Examination</td>
                <td>:</td>
                <td>@Model.AcaPlan.Final</td>
            </tr>
            <tr>
                <td>Class Commence on Next Semester</td>
                <td>:</td>
                <td>@Model.AcaPlan.NextClass</td>
            </tr>
        </table>
    </div>

</div>

<div>
    <button id="print" class="btn btn-primary">Print This Page</button>
</div>

@section scripts{
<script src="~/Scripts/printThis.js"></script>
    <script>
        $("#print").click(function () {
            $(".printPage").printThis();
        });
    </script>

    
}

