@model CourseAssign.Models.Coordinator.SectionViewModel

@{
    ViewBag.Title = "Section";
}

<h2>Section</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <button data-toggle="modal" data-target="#CreateNewTeacher" class="btn btn-success">Create New Teacher</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Section Id</th>
                        <th>Course Name</th>
                        <th>TeacherName</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model.)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TId)
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nickname)</td>
                            <td>@Html.DisplayFor(modelItem => item.TId)</td>
                            <td><input type="button" value="Delete" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



